
.heading {
    text-shadow: 2px 2px 4px #000000;
    font-family: "Cormorant", serif;
}
.about-heading {
    font-family: "Cormorant", serif;
}
.hero {
    background-image: url('./images/Hero.PNG'); 
    height: 100vh; 
    color: white;
}

.about {
    background-color: #5c6d4b;
}
.services {
    background-color: #e8dcc3; 
}
.beigeBackground {
    background-color: #F8F5F0;
}

.greenText {
    color: #285739;
}
  