
.heading {
    text-shadow: 2px 2px 4px #000000;
    font-family: "Cormorant", serif;
}
.about-heading {
    font-family: "Cormorant", serif;
}
.hero {
    background-image: url('./images/Hero.PNG'); /* Replace with your image path */
    height: 100vh; /* Set height to 100% of the viewport height */
    color: white;
}

.about {
    background-color: #5c6d4b;
}
.services {
    background-color: #e8dcc3; 
}
  